header {
    text-align: center;
    margin-bottom: 40px;
}

.control {
    width: 300px;
    margin-top: 15px;
}

#container {
    position: relative;
    margin-left: 39%;
}

.button {
    margin-top: 20px;
    position: absolute;
    left: 116px;
}