.hero {
    text-align: center;
    font-family:  Calibri, sans-serif;
    background: linear-gradient(#e66465, #9198e5);   
}

body {
    background-image: url(./background.jpg);
    background-size: cover;
}

#sign-up-container {
    height: 520px;
    position: relative;
    padding-left: 13%;
}

.control {
    width: 300px;
    margin-top: 15px;
}

#sign-up-button{
    margin-top: 20px;
    position: absolute;
    left: 160px;
}

#sign-in-text {
    position: absolute;
    top: 300px;
    left: 15px;
}

#sign-in-button {
    position: absolute;
    top: -7px;
    left: 300px;
}

#sign-in-container {
    display: none;
    height: 520px;
    position: relative;
    padding-left: 13%;
}

#sign-in-button-two {
    position: absolute;
    top: 180px;
    left: 160px;
}

#holiday-input-container {
    display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid 
    #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (min-width: 760px){
#sign-up-container {
    padding-left: 30%;
}

#sign-up-button {
    left: 340px;
}

#sign-in-text {
    left: 25%;
}
}

@media screen and (min-width: 990px){
#sign-up-container {
    padding-left: 35%;
}
    
#sign-up-button {
    left: 450px;
}
   
#sign-in-text {
    left: 30%;
}
}





.expenseModal {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;    
}
  
  /* Modal Content */
.modalContent {
    background-color: white;
    margin: auto;
    padding: 20px;
    padding-bottom: 80px;
    border: 1px solid rgb(0, 0, 0);
    width: 50%;
    display: block;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
    position: relative;
}
  
  /* The Close Button */
.closeButton {
    color: black;
    float: right;
    margin-right: 10px;
    font-size: 20px;
}
  
input[type=text], select{
    width: 100%;
    padding: 15px 0px 15px 5px;
    margin: 10px 0px; 
    display: inline-block;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 10px;
}

input[type=submit]{
    padding: 15px 20px;
    margin: 10px 0;
    border-radius: 5px;
    position: absolute;
    left: 280px;
    top: 280px;
}

table{
    border-collapse: collapse; 
  }
    
  td, th {
    border: 1px solid #dddddd;
    
  }
    
  ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  li{
    padding: 5px;
    border-bottom: 1px solid #dddddd;
  }