.hero {
    text-align: center;
    font-family:  Calibri, sans-serif;
    background: linear-gradient(#e66465, #9198e5);   
}

body {
    background-image: url(./background.jpg);
    background-size: cover;
    color: white;
}

/* The "Sign Up" Page Style */
#sign-up-container {
    height: 600px;
    position: relative;
    left: 13%;
}

#sign-up-button {
    position: absolute;
    margin-top: 10px;
    margin-bottom: 10px;
    top: 150px;
    left: 100px;
}

#sign-in-text {
    position: absolute;
    margin-top: 10px;
    margin-bottom: 10px;
    top: 200px;
}

#quote {
    position: absolute;
    margin-top: 10px;
    margin-bottom: 10px;
    top: 240px;
    width: 380px;
    font-style: italic;
    font-size: 10px;
}

#quote p {
    font-style: normal;
    font-size: 10px;
}

.control {
    width: 300px;
    margin-top: 15px;
}

#sign-in-button {
    cursor: pointer;
    text-decoration: underline;
    color: white;
}

/* The "Sign In" Page Style */
#sign-in-container {
    height: 600px;
    position: relative;
    left: 13%;
    display: none;
}

#sign-in-button-two {
    position: absolute;
    margin-top: 10px;
    margin-bottom: 10px;
    top: 150px;
    left: 100px;
}

/* The Holiday Input Page Style */
#holiday-input-container {
    height: 600px;
    position: relative;
    left: 15%;
    display: none;
}

#sign-out-button {
    position: absolute;
    top:0px;
    left: -40px;
    cursor: pointer;
    font-size: 12px;
    text-decoration: underline;
    color: white;
}

#holiday-submit-button {
    position: absolute;
    top: 410px;
    left: 90px;
}

#destination-list {
    width: 200px;
    margin-top: 5px; 
    margin-bottom: 20px; 
}

#holiday-budget-total {
    width: 200px;
    margin-top: 5px; 
    margin-bottom: 20px; 
}

#start-date {
    width: 200px;
    margin-top: 5px; 
    margin-bottom: 20px; 
}

#end-date {
    width: 200px;
    margin-top: 5px; 
    margin-bottom: 20px; 
}

#holiday-budget-result {
    width: 300px;
    margin-top: 5px; 
    margin-bottom: 20px; 
}

.confirm-button {
    position: absolute;
    top:30px;
    font-size: 10px;
}

/* The Expense Input Page Style*/
#expense-input-container {
    display: none;
    height: 600px;
    position: relative;
    left: 10px;
}

#sign-out-button-two {
    position: absolute;
    top:0px;
    cursor: pointer;
    font-size: 12px;
    text-decoration: underline;
    color: white;
}

#expenseTitle {
    position: absolute;
    top: 50px;
}

#addExpenseButton {
    position: absolute;
    font-size: 10px;
    top: 100px;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid 
    #888;
    width: 80%;
}

/* The Error Modal Style*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid 
    #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* The Expense Modal Style*/
.expenseModal {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;    
}
  
  /* Modal Content */
.modalContent {
    background-color: white;
    margin: auto;
    padding: 20px;
    padding-bottom: 80px;
    border: 1px solid rgb(0, 0, 0);
    width: 50%;
    display: block;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
    position: relative;
}
  
  /* The Close Button */
.closeButton {
    color: black;
    float: right;
    margin-right: 10px;
    font-size: 20px;
}
  
input[type=text], select {
    width: 100%;
    padding: 15px 0px 15px 5px;
    margin: 10px 0px; 
    display: inline-block;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 10px;
}

input[type=submit] {
    padding: 15px 20px;
    margin: 10px 0;
    border-radius: 5px;
    position: absolute;
    left: 280px;
    top: 280px;
}

/* Media Queries to make the Site responsive */
@media screen and (min-width: 760px) {

#sign-up-container {
    left: 30%;
}

#sign-in-container {
    left: 30%;
}

#sign-out-button {
    left: -100px;
}

#holiday-submit-button {
    top: 320px;
}

#holiday-budget-result {
    position: relative;
    width: 650px;
    left: -50px
}
}

@media screen and (min-width: 990px) {

#sign-up-container {
    left: 40%;
}
    
#sign-in-container {
    left: 40%;
}

#holiday-input-container {
    left: 30%;
}

#sign-out-button {
    left: -320px;
}
}